body {
    background: linear-gradient(to right,#47c2f6, #1a6d70);
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: auto;
}

.menu {
    background: linear-gradient(to right,#38a8d6,#165b5d );
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    justify-content: start;
}

.menu img {
    height: 90px;
    width: auto;
}

.menu ul{
    
    display: flex;
    gap: 5px;
    height: 50px;
    width: auto;
    border-radius: 14px;
}
.menu ul input{
    width: 320px;
    border-radius: 14px;
    border: none;
    font-size: 18px;
    margin-left: 0px;
    background: linear-gradient(to right,#38a8d6,#165b5d );
    color: white; 
    text-indent: 10px;   
}
.menu ul input::placeholder{
    color: white;
}
.menu ul input:hover{
    border: none;
}
.menu ul button{
    background-color: #165b5d;
    border-radius: 14px;
    border: transparent;
    height: auto;
    width: 50px;
    margin-left: -25px;
    
    
}
.menu ul button img{
    width: 50px;
    height: 50px;
        
}

.voltar {
    margin: 25px 20px;
    padding: 10px 25px;
    background-color: #165b5d;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.voltar:hover {
    background-color: #38a8d6;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: 20px auto 50px auto;
    background-color: #90e0ef;
    padding: 35px 40px;
    border-radius: 15px;
    color: black;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
}

/* TÍTULOS */
.container h1 {
    text-align: center;
    color: #003049;
    font-size: 35px;
    margin-bottom: 35px;
}

.container h2 {
    color: #003049;
    font-size: 27px;
    margin-top: 40px;
}

.container h3 {
    color: #023e8a;
    font-size: 22px;
    margin-top: 20px;
}

/* TEXTOS */
.container p {
    font-size: 18px;
    color: #003049;
    margin-top: 10px;
}

/* LISTAS */
.container ul,
.container ol {
    margin-left: 25px;
}

.container ul li,
.container ol li {
    font-size: 18px;
    color: #003049;
    margin-bottom: 8px;
}

/* RESPONSIVIDADE */
@media (max-width: 700px) {
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 15px;
    }

    .menu ul input {
        width: 200px;
    }

    .container {
        padding: 20px;
    }

    .container h1 {
        font-size: 28px;
    }
}
